/*_________________________________________________ General*/

html {
    font-size: 0.7rem;
    scroll-behavior: smooth;
} 

body{
    background-color: #111;
    margin:0;
    padding:0;
    width:100%;
    overflow-x:hidden;
}

p, h2{
    margin:0;
}

a{
    color: #fff;
}

i{
    font-style: italic;
    font-weight: 500;
}

b{
    font-weight: 700;
}

/*_________________________________________________ Scrollbar*/

::-webkit-scrollbar {
    width: 8px;
}
  
  
::-webkit-scrollbar-track {
    background: #111;
    border-left: 1px solid #fff;
}
   
::-webkit-scrollbar-thumb {
    background: #fff; 
}
  
::-webkit-scrollbar-thumb:hover {
    background: #fff; 
}

/*_________________________________________________ Navbar*/

#navbar{
    position:fixed;
    background-color: #111;    
    border-bottom: 1px solid #fff;
    z-index:3;
    width:100%;
}

#navbar-inside{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin:15px 70px;
}

#navbar img{
    height: 20px;
}

#navbar a{
    color: #fff;
    font-family: Martian Mono;
    font-style: normal;
    font-weight: 300;
    font-stretch: 75%;
    line-height: 100%;
    text-transform: uppercase;
    text-decoration: none;
}

#navbar a:hover{
    text-decoration: underline;
}

a#navbar-cta{
    background-color: #fff;
    color:#111;
    padding:5px;
}

/*_________________________________________________ Cover*/

#cover{
    width:100%;
    height:100vh;
    background-image: url("img/cover.svg");
    background-size: cover;
    background-position: center;
}

/*_________________________________________________ Content*/

@media screen {

    #content-container{
        width:auto;
        margin:0 20px;
    }
    
}

@media screen and (min-width: 768px) {

    #content-container{
        width:auto;
        margin:0 32px;
    }
    
}

@media screen and (min-width: 1025px) {

    #content-container{
        width:960px;
        margin:auto;
    }
    
}

/*_________________________________________________ Content > Introduction*/

#intro{
    color: #FFF;
    font-family: Fira Sans;
    font-style: normal;
    font-weight: 400;
}

@media screen {

    #intro{  
        padding: 70px 0;
        font-size: 2.441rem;
        line-height: 3.8rem;
    }
    
}

@media screen and (min-width: 768px) {

    #intro{  
        padding: 160px 0;
        font-size: 3.157rem;
        line-height: 5.2rem;
    }
    
}

/*_________________________________________________ Content > Sections*/

.section, .subsection{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.subsection{
    width:100%;
}

.sec-title{
    color: #fff;
    font-family: Martian Mono;
    font-style: normal;
    font-weight: 300;
    font-stretch: 75%;
    line-height: 100%;
    text-transform: uppercase;
}

.img-container{
    display:flex;
    justify-content: space-between;
    margin:35px 0 20px 0;
}

.sec-content p, ol{
    color: #FFF;
    font-family: Fira Sans;
    font-style: normal;
    font-weight: 400;
    margin-top:0;
}

@media screen {

    .section{    
        padding: 70px 0;
        flex-wrap: wrap;
    }

    .sec-title{
        font-size: 1.953rem;
        width:100%;
        margin-bottom:35px;
    }

    .sec-content{
        width:100%;
    }

    .sec-content p, ol{
        font-size: 1.563rem;
        line-height: 190%;
        margin-bottom:1.563rem;
    }
    
}

@media screen and (min-width: 768px) {

    .section{    
        padding: 140px 0;
        flex-wrap: nowrap;
    }

    .sec-title{
        font-size: 2.369rem;
        width:300px;
        margin:0;
        position:sticky;
        top:30px;
    }

    .sec-content{
        width:660px;
    }

    .sec-content p, ol{
        font-size: 1.777rem;
        line-height: 190%;
        margin-bottom:1.777rem;
    }
    
}

/*_________________________________________________ Content > Sections > Background*/

#img-01 img{
    width:48.5%;
}

.img-container video{
    border-radius:10px;
    width:100%;
}

.sec-content > p.caption{
    color: #FFF;
    font-family: Martian Mono;
    font-size: 1rem;
    font-style: normal;
    font-weight: 300;
    line-height: 180%;
    margin-bottom:35px;
}

/*_________________________________________________ Content > Sections > Case studies*/

.sec-content li{    
    padding-left:10px;
    margin-bottom:1.777rem;
}

.sec-content span{
    color: #111;
    font-style: italic;
    padding-right: 5px;
}

.sec-content #hg1{
    background-color: #E5F1FF;
}

.sec-content #hg2{
    background-color: #DEFFD5;
}

.sec-content #hg3{
    background-color: #FFF1D2;
}

/*_________________________________________________ Content > Sections > Project*/

#Project{
    flex-wrap: wrap;
}

#report-protocols-container{
    margin-bottom:140px;
    margin-top:0;
}

#call-to-action{
    width:100%;
    text-align: center;
    margin-bottom: 80px;
    font-size: 1.777rem;
    color: #111;
    font-family: Martian Mono;
    font-style: normal;
    font-weight: 300;
    font-stretch: 75%;
    text-transform: uppercase;
    padding-top:140px;
}

#call-to-action span{
    background-color: #fff;
    padding: 5px 10px;
}

.pdf-container{
    width:28%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
}

.pdf-container img{
    width:100%;
    transition-duration: 0.3s;
}

.button{
    background-color: transparent;
    border: 2px solid #fff;
    margin-bottom:40px;
    padding: 8px 15px;
    border-radius:30px;
    color: #fff;    
    font-family: Martian Mono;
    font-size: 1.333rem;
    font-style: normal;
    font-weight: 300;
    font-stretch: 75%;
    line-height: 100%;
    text-transform: uppercase;
}

.pdf-container:hover img{
    transform:scale(1.05);
}

.pdf-container:hover .button{
    background-color: #fff;
    color: #111;
}

/*_________________________________________________ Content > Sections > Gallery*/

#grid-img1 { grid-area: img1; background-image: url("img/grid-img (1).jpg"); }
#grid-img2 { grid-area: img2; background-image: url("img/grid-img (2).jpg"); }
#grid-img3 { grid-area: img3; background-image: url("img/grid-img (3).jpg"); }
#grid-img4 { grid-area: img4; background-image: url("img/grid-img (4).jpg"); }
#grid-img5 { grid-area: img5; background-image: url("img/grid-img (5).jpg"); }
#grid-img6 { grid-area: img6; background-image: url("img/grid-img (6).jpg"); }
#grid-img7 { grid-area: img7; background-image: url("img/grid-img (7).jpg"); }
#grid-img8 { grid-area: img8; background-image: url("img/grid-img (8).jpg"); }
#grid-img9 { grid-area: img9; background-image: url("img/grid-img (9).jpg"); }
#grid-img10 { grid-area: img10; background-image: url("img/grid-img (10).jpg"); }
#grid-img11 { grid-area: img11; background-image: url("img/grid-img (11).jpg"); }
#grid-img12 { grid-area: img12; background-image: url("img/grid-img (12).jpg"); }
#grid-img13 { grid-area: img13; background-image: url("img/grid-img (13).jpg"); }

.img-grid {
    display: grid;
    grid-template-areas:
      'img1 img2 img2'
      'img3 img2 img2'
      'img4 img4 img4'
      'img4 img4 img4'
      'img5 img6 img6'
      'img7 img6 img6'
      'img7 img8 img9'
      'img10 img10 img10'      
      'img10 img10 img10'      
      'img11 img12 img13';
    gap: 10px;
    padding: 10px;
}

.img-grid div{
    background-size: cover;
    background-position: center;
    padding: 50%;
}

/*_________________________________________________ Footer*/

footer{
    background-color: #111;
    border-top: 1px solid #fff;
    margin:0;
    padding-top:20px;
}

.foot-flex{
    display:flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: flex-start;
}

#foot-1, #foot-2{
    padding:35px 140px;
}

/*_________________________________________________ Footer > Upper*/

#colophon{
    color: #FFF;
    font-family: Martian Mono;
    font-size: 1.333rem;
    font-style: normal;
    font-weight: 300;
    line-height: 225.035%;
    margin:0;
}

.role{
    margin:0;
    color: #FFF;
    font-family: Fira Sans;
    font-size: 1rem;
    font-style: italic;
    font-weight: 500;
    line-height: 300%;
}

.name{
    margin:0;
    color: #FFF;
    font-family: Fira Sans;
    font-size: 1.333rem;
    font-style: normal;
    font-weight: 400;
    line-height: 300%;
}

#student, #supervisor{
    margin:0;
    margin-right:6vw;
}

/*_________________________________________________ Footer > Lower*/

#copyright, #mail{
    color: #FFF;
    font-family: Fira Sans;
    font-size: 1rem;
    font-style: italic;
    font-weight: 400;
    line-height: 100%;
}